* {
    margin: 0;
    padding: 0;
  }
  
header {
    height: 7vh;
    width: 100%;
    background-color: #172d4b;
}

nav {
    background-color: #f7f7f7;
    color: #495e87;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    height: 6vh;
    word-spacing: 15px;
}

.first {
    position: relative;
    left: 10px;
    bottom: 163px;
}

.second {
    position: relative;
    left: 500px;
    bottom: 163px;
}

li,
a {
  font-size: 20px;
  text-decoration: none;
}

.nav_links {
    list-style: none;
}
  
.nav_links li {
    display: inline-block;
    padding: 7px;
}

.logo {
    position: relative;
    bottom: 10px;
    left: 24%;
}

img {
    width: 150px;
    height: 180px;
    
}

section {
    height: 100vh;
    width: 100%;
}

.sect {
    background-image: url(IMG-20210209-WA0003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    position: relative;
    text-align: center;
    top: 50px;
}
.all{
   display: inline-flex;
   justify-content: center;
  
}


.intro{
    position: relative;
    top: 100px;
    left: 170px;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 26px;
    font-weight: bolder;
    width: 200px;
    height: 30px;
    text-align: center;
    background-color: white;
        
}
.note1{
    position: relative;
    top: 60px;
    left: 170px;
    width:300px;
    font-size: 18px;
    margin: 50px;
   
}

.aim{
    position: relative;
    top: 100px;
    left: 400px;
    border:1px;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 26px;
    font-weight: bolder;
    width: 200px;
    height: 30px;
    text-align: center;
    background-color: white;
    
        
}
.note2{
    position: relative;
    top: 60px;
    left: 400px;
    width:300px;
    font-size: 18px;
    margin: 50px;
   
}
