* {
    margin: 0;
    padding: 0;
  }
  
header {
    height: 6vh;
    width: 100%;
    background-color: #172d4b;
}

nav {
    background-color: #f7f7f7;
    color: #495e87;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    height: 6vh;
    word-spacing: 15px;
}

.first {
    position: relative;
    left: 10px;
}

.second {
    position: relative;
    left: 850px;
}

li,
a {
  font-size: 20px;
  text-decoration: none;
}

.nav_links {
    list-style: none;
}
  
.nav_links li {
    display: inline-block;
    padding: 7px;
}

section {
    height: 100vh;
    width: 100%;
}

.sect {
    background-image: url(IMG-20210209-WA0003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    position: relative;
    text-align: center;
    top: 50px;
}